.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 30px;
  background: linear-gradient(120deg, #0f172a, #020617);
  padding: 40px;
  border-radius: 20px;
  color: white;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #cbd5e1;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #22c55e;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #22c55e;
  color: white;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
}

.hero-right img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: transform 0.6s ease;
}

.hero:hover .hero-img {
  transform: scale(1.05);
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
}